DEBUG=False
SECRET_KEY=django-insecure-change-this-in-production-key-12345
ALLOWED_HOSTS=localhost,127.0.0.1
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL="Dr. Abubakar Sadiq Mohammed <your-email@gmail.com>"
NOTIFICATION_EMAIL=your-email@gmail.com

CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret
